In [1]:
import pandas as pd
df = pd.read_csv("../data/raw_spot_5min.csv")
print(df.head())
print(df.tail())
print("Rows:", len(df))
print("Columns:", df.columns.tolist())

   index                   Datetime               Close                High  \
0    NaN                        NaN        NIFTYBEES.NS        NIFTYBEES.NS
1    0.0  2025-11-17 03:45:00+00:00  293.45001220703125  293.45001220703125
2    1.0  2025-11-17 03:50:00+00:00               293.5  293.67999267578125
3    2.0  2025-11-17 03:55:00+00:00  293.70001220703125  293.82000732421875
4    3.0  2025-11-17 04:00:00+00:00  293.70001220703125   293.8999938964844

                  Low               Open        Volume
0        NIFTYBEES.NS       NIFTYBEES.NS  NIFTYBEES.NS
1   293.0299987792969  293.0299987792969             0
2  293.45001220703125   293.489990234375        116548
3               293.5              293.5        101238
4  293.70001220703125  293.7099914550781         86687
       index                   Datetime              Close               High  \
3144  3143.0  2026-01-14 09:35:00+00:00              290.5  290.8900146484375
3145  3144.0  2026-01-14 09:40:00+00:00  290.4599914550781  290.5899963378906
3146  3145.0  2026-01-14 09:45:00+00:00  290.5299987792969  290.5400085449219
3147  3146.0  2026-01-14 09:50:00+00:00              290.5  290.6499938964844
3148  3147.0  2026-01-14 09:55:00+00:00  291.1000061035156  291.3999938964844

                    Low                Open  Volume
3144  290.3999938964844  290.70001220703125   62791
3145  290.4200134277344               290.5   72561
3146  290.3999938964844   290.4700012207031   49040
3147  290.3999938964844   290.5199890136719   60716
3148              290.5  290.69000244140625  325259
Rows: 3149
Columns: ['index', 'Datetime', 'Close', 'High', 'Low', 'Open', 'Volume']

In [2]:
df=df.drop(columns=["index"])
print(df.columns.tolist())

['Datetime', 'Close', 'High', 'Low', 'Open', 'Volume']

In [3]:
df["Datetime"] = pd.to_datetime(df["Datetime"])
df = df.set_index("Datetime")
df = df.sort_index()

print(df.head())
print(df.tail())

                                        Close                High  \
Datetime
2025-11-17 03:45:00+00:00  293.45001220703125  293.45001220703125
2025-11-17 03:50:00+00:00               293.5  293.67999267578125
2025-11-17 03:55:00+00:00  293.70001220703125  293.82000732421875
2025-11-17 04:00:00+00:00  293.70001220703125   293.8999938964844
2025-11-17 04:05:00+00:00   293.6700134277344   293.8399963378906

                                          Low               Open  Volume
Datetime
2025-11-17 03:45:00+00:00   293.0299987792969  293.0299987792969       0
2025-11-17 03:50:00+00:00  293.45001220703125   293.489990234375  116548
2025-11-17 03:55:00+00:00               293.5              293.5  101238
2025-11-17 04:00:00+00:00  293.70001220703125  293.7099914550781   86687
2025-11-17 04:05:00+00:00  293.55999755859375  293.6499938964844  131685
                                       Close               High  \
Datetime
2026-01-14 09:40:00+00:00  290.4599914550781  290.5899963378906
2026-01-14 09:45:00+00:00  290.5299987792969  290.5400085449219
2026-01-14 09:50:00+00:00              290.5  290.6499938964844
2026-01-14 09:55:00+00:00  291.1000061035156  291.3999938964844
NaT                             NIFTYBEES.NS       NIFTYBEES.NS

                                         Low                Open        Volume
Datetime
2026-01-14 09:40:00+00:00  290.4200134277344               290.5         72561
2026-01-14 09:45:00+00:00  290.3999938964844   290.4700012207031         49040
2026-01-14 09:50:00+00:00  290.3999938964844   290.5199890136719         60716
2026-01-14 09:55:00+00:00              290.5  290.69000244140625        325259
NaT                             NIFTYBEES.NS        NIFTYBEES.NS  NIFTYBEES.NS

In [4]:
df=df.rename(columns={
    "Open":"open",
    "High":"high",
    "Low":"low",
    "Close":"close",
    "Volume":"volume"
    })
print(df.columns.to_list())

['close', 'high', 'low', 'open', 'volume']

In [5]:
df=df[["open","high","low","close","volume"]]

In [8]:
print("Nans:\n",df.isna().sum())
print("Duplicate Timestamps:",df.index.duplicated())

Nans:
 open      0
high      0
low       0
close     0
volume    0
dtype: int64
Duplicate Timestamps: [False False False ... False False False]

In [ ]:
df.to_csv("../data/spot_5min_clean.csv")
print("Saved ../data/spot_5min_clean.csv")

Saved ../data/spot_5min_clean.csv